.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 90rem;

    margin: 7rem auto;

    padding: .6rem;

    background: var(--color-card);

    border-radius: var(--radius-xl);

    box-shadow: var(--shadow-soft);

    transition: var(--transition-normal);
}


/* hover elevation */
.search-bar:hover{
    box-shadow: var(--shadow-hover);
}


/* input container */
.search-input-wrapper{
    display: flex;
    align-items: center;

    flex: 1;

    padding: 1.2rem 2rem;
}


/* icon */
.search-icon{
    width: 2rem;
    height: 2rem;

    margin-right: 1rem;

    color: var(--color-text-secondary);
}


/* input field */
.search-bar input{
    border: none;
    outline: none;

    width: 100%;
    padding: 1rem;
    /* font-size: var(--input-font-size); */
    font-size: 1.6rem;
    font-weight: var(--input-font-weight);

    color: var(--color-text-primary);

    background: transparent;
}


/* placeholder */
.search-bar input::placeholder{
    color: var(--color-text-secondary);
}


/* search button */
.search-bar button{
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: var(--radius-lg);
    background: var(--color-button-primary);
    color: var(--color-card);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    letter-spacing: var(--btn-letter-spacing);
    cursor: pointer;
    transition: var(--transition-fast);
}

/* hover animation */
.search-bar button:hover{
    transform: translateY(-1px);
    box-shadow: var(--shadow-soft);
}


/* mobile layout */
@media (max-width: 600px){

.search-bar{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.search-bar button{
    width: 100%;
}
}